<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestureX | Register</title>
    <link rel="stylesheet" href="../public/login-page.css">
    <link rel="stylesheet" href="../public/login-responsive.css">

</head>

<body>
    <section class="signup">
        <div class="color"></div>
        <div class="color"></div>

        <div class="color"></div>
        <div class="box">
            <div class="square" style="--i:0"></div>
            <div class="square" style="--i:1"></div>
            <div class="square" style="--i:2"></div>
            <div class="square" style="--i:3"></div>
            <div class="square" style="--i:4"></div>
            <div class="square" style="--i:5"></div>

            <div class="container">
                <div class="form">
                    <h2>Login Form</h2>
                    <form action="/login" method="post">
                        <div class="inputBox">
                            <label for="email"></label>
                            <input type="email" name="email" placeholder="Email" id="email">
                        </div>
                        <div class="inputBox">
                            <label for="password"></label>
                            <input type="password" name="password" placeholder="Password" id="password">
                        </div>
                        <button type="submit" id="register">Login</button>
                        <p class="forget">Forgot Password ?<a href="#">Click Here</a></p>
                        <p class="forget">Don't have an account ?<a href="#" onclick="startNow()">Sign up</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="box eye-box">
            <div class="eye"></div>
            <div class="eye"></div>
        </div>
        <div class="DABBA"></div>



        <script src="../scripts/login-page.js"></script>
    </section>
</body>

</html>